/* The partymachine default theme by TSC, Mejje and 8< */
/*BACKGROUND*/
html{background-color:#000;/*#3573de;*//*background:url(http://www.mileanhour.com/files/2010/12/santa-beer.jpg);*/}/*add image if you want*/
.background-video{width:100%;height:133.5%;position:fixed;margin:0 auto;z-index:-1000;}
/*LOGO*/
#logo{background:url(img/PM-logo.png) no-repeat;margin:1% 0 0 5%;background-size:100% auto;height:100%;width:90%;position:fixed;}
/*PARTICIPANT*/
p.participant-info{color:#fff;}
/*PLUGIN FONT-COLOR*/
.plugin p{color:#fff;}
.plugin-selected p{color:#c9ff33;}
.plugin-selected img{border:2px solid #c9ff33;}/*plugin selected color*/
/*SETTINGS*/
#settings{background-color:#002C46;}
#settings h2{color:#fff;}/*Settings headline*/
#settings li{color:#fff;}/*Setting name*/
/*INSTRUCTIONS*/
.instructions{color:white;font-size:10%;}
/*PARTYPLAYER*/
.party-player{}
.current-media-title h2{color:#c9ff33;}/*Color of song title in main window*/
	/*playing*/
ul.playlist li.sm2_playing,ul.playlist li.sm2_playing:hover{background-color:#69c;}/*Partyplayer is playing*/
ul.playlist.use-peak li .peak,ul.playlist li .timing{ background-color:#58b;}/*playing time & vu boxes*/
	/*paused*/
ul.playlist li.sm2_paused{background-color:red;opacity:0.7;}/*Partyplayer is paused*/
ul.playlist li.sm2_paused .timing,ul.playlist.use-peak li.sm2_paused .peak{background-color:red; border-color:#ccc;}/*paused time & vu boxes*/
	/*meter*/
ul.playlist li .controls .statusbar .loading{background-color:#eee}/*Loading meter*/
ul.playlist li .peak .l,ul.playlist li .peak .r{background:#fff;border:1px solid #fff;}/*VU meter color*/
	/*fonts*/
.created-by{color:#c9ff33;}/*created by name color*/
.next-song{color:white;}/*next song name color*/
	/*counter*/
ul.playlist li.sm2_playing,ul.playlist li.sm2_paused,ul.playlist li.sm2_playing a{color:#c9ff33;}/*counter color*/