/* THE PARTYMACHINE DEFAULT THEME*/
html{margin:0;height:100%;}
body{height:100%;text-align:center;margin:0;padding:0;color:#111;}

body{font-family: 'ITCAvantGardeGothicStdBkCn';}
strong{font-family: 'ITCAvantGardeGothicStdBdCn';}
p{font-family: 'ITCAvantGardeGothicStdBdCn';}
.header{width:100%;}

/*FADE IN*/
#logo, .participant, .plugin-frame, .music-info{opacity:0.0;}
/*PARTICIPANTS*/
.participant-container{margin:0 auto;width:12%;}
.participant{background:url(../img/contenderframe.png) no-repeat;background-size:100% auto;width:12%;position:fixed;margin-top:10%;}
.participant p{margin-top:5%;}
.participant img{background-size:100% auto;width:69%;position:relative;margin-top:-6%;margin-left:3%;}
p.participant-info{color:#fff;font-size:150%;margin-top:-20%}

/*PLUGINS*/
.plugin-container{width:70%;height:45%;position:fixed;top:40%;padding:0 10% 0 19%;}
.plugin{background:url(../img/pluginframe.png) no-repeat;background-size:70%;width:20%;padding-bottom:3%;/*height:20%;padding-bottom:20%;*/float:left;margin:0 2% 30px 2%;}
.plugin img{background-size:50%;width:60%;float:left;margin:4% 0 0 4%;}
.plugin p{margin-right:2%;font-size:20%;font-family:'ITCAvantGardeGothicStdBkCn';}
.plugin-selected p{color:#c9ff33;}
/*TODO: GLOSSY OVERLAY:*/
/*.plugin-glare{background-image:url(img/lobbyGfx-pluginglare.png);width:120px;height:32px;float:left;margin:-118px 0 0 3px;}*/
.plugin-selected img{border-radius:3px;}

/*PARTYPLAYER*/
.party-player-container{width:100%;bottom:-100%;position:fixed;visibility:hidden;}
.party-player{margin:0 auto;width:50%;}
.playlist{padding-right:7%;}
#sm2movie{height:1px;}
#sm2-container{height:1px;}
.created-by{font-size:14px;margin-top:-3px;}
.next-song{font-size:14px;margin-top:2px;}

/*FONTS*/
@font-face {
    font-family: 'ITCAvantGardeGothicStdBkCn';
    src: url('../fonts/itcavantgardestd-bkcn-webfont.eot');
    src: url('../fonts/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-bkcn-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBdCn';
    src: url('../fonts/itcavantgardestd-boldcn-webfont.eot');
    src: url('../fonts/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-boldcn-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-boldcn-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*SETTINGS*/
#settings{display:none;position:fixed;top:310px;height:350px;width:100%;opacity:0.9;z-index:100000;}
#settings h2{}
#settings ul{list-style:none;margin:0 auto;width:800px;margin-top:40px;}
#settings li{float:left;margin:0 10px 0 50px;font-size:20px;}
#settings li img{width:108px;height:108px;margin-top:10px;}
.setting-selected{border:2px solid #c9ff33;width:128px;height:128px;position:relative;border-radius:3px;margin-top:-20px;}

/*PROGRESSBAR*/
#progressbar{position:absolute;z-index:10000;top:10px;left:15px;}

/*INSTRUCTIONS*/
.instructions{position:fixed;text-align:right;right:20px;bottom:0px;list-style:none;font-size:10%;}