/* THE PARTYMACHINE DEFAULT THEME*/
html{margin:0;height:100%;}
body{height:100%;text-align:center;margin:0;padding:0;font-family: 'ITCAvantGardeGothicStdBkCn';}
strong{font-family: 'ITCAvantGardeGothicStdBdCn';}
p{font-family: 'ITCAvantGardeGothicStdBdCn';}
.header{width:100%;}
.clear{clear:both;}

/*FADE IN*/
#logo, .participant, .plugin-frame, .music-info{opacity:0.0;}
/*PARTICIPANTS*/
.participant-container{margin:0 auto;width:12%;}
.participant{background:url(../img/contenderframe.png) no-repeat;background-size:100% auto;width:12%;position:fixed;margin-top:10%;}
.participant p{margin-top:5%;}
.participant img{background-size:100% auto;width:69%;position:relative;margin-top:-6%;margin-left:3%;}
p.participant-info{font-size:150%;margin-top:-20%}

/*PLUGINS*/
.plugin-container{width:70%;height:45%;position:fixed;top:35%;padding:0 10% 0 24%;}
.plugin{background:url(../img/pluginframe.png) no-repeat;background-size:70%;width:20%;float:left;margin:0 1% 0 0;}
.plugin img{background-size:50%;width:60%;float:left;margin:6.1% 0 0 5.2%;}
.plugin p{font-size:23%;font-family:'ITCAvantGardeGothicStdBkCn';display:block;margin-left:-30%;}
.plugin-glare{background:url(../img/lobbyGfx-pluginglare.png) no-repeat;background-size:100%;position:fixed;height:9%;width:9.25%;margin-left:0.25%;margin-top:0.4%;}
.plugin-selected img{border-radius:3px;padding:3% 3% 3% 3%;margin:2.1% 0 0 1.5%;}

/*PARTYPLAYER*/
.party-player-container{width:100%;bottom:-100%;position:fixed;visibility:hidden;}
.party-player{margin:0 auto;width:50%;}
.playlist{padding-right:7%;}
#sm2movie{height:1px;}
#sm2-container{height:1px;}
.created-by{font-size:14px;margin-top:-3px;}
.next-song{font-size:14px;margin-top:2px;}
.current-media-title{margin-bottom:-2%;margin-left:-24%;}
.current-media-title h2{font-size:40%;margin-top:1%;}/*song output in main window*/

/*FONTS*/
@font-face {
    font-family: 'ITCAvantGardeGothicStdBkCn';
    src: url('../fonts/itcavantgardestd-bkcn-webfont.eot');
    src: url('../fonts/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-bkcn-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBdCn';
    src: url('../fonts/itcavantgardestd-boldcn-webfont.eot');
    src: url('../fonts/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/itcavantgardestd-boldcn-webfont.woff') format('woff'),
         url('../fonts/itcavantgardestd-boldcn-webfont.ttf') format('truetype'),
         url('../fonts/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*SETTINGS*/
#settings{display:none;position:fixed;top:20%;height:60%;width:100%;opacity:0.9;z-index:100;}
#settings h2{}
#settings ul{list-style:none;margin:0 auto;width:800px;margin-top:40px;}
#settings li{float:left;margin:0 10px 0 50px;font-size:20px;}
#settings li img{width:108px;height:108px;margin-top:10px;}
.setting-selected{border:2px solid #c9ff33;width:128px;height:128px;position:relative;border-radius:3px;margin-top:-20px;}

/*PROGRESSBAR*/
#progressbar{position:absolute;z-index:10000;top:10px;left:15px;}

/*INSTRUCTIONS*/
.instructions{position:fixed;text-align:right;right:50px;bottom:30px;list-style:none;}