html{overflow:hidden;-webkit-background-size: 100%;-moz-background-size: 100%;-o-background-size: 100%;background-size: 100%;}
body {height:100%; margin:0; padding:0;}
.clear {clear:both;}

.header-container {position:fixed;margin: 1% 0 0 1%;}
.header-container-back {position:fixed;}
.divider {position:fixed;margin:4.5% 0 0 1%;}
.logo-container{position: fixed;width:25%;height:6%;margin:0.5% 0 0 37%;}
.logo-container img {width:100%;}
.participant-name-container{position:fixed;width:33%;height:6%;margin:0 0 0 1%;}
#participant-name p {color:white;margin-top:0%;margin-bottom:1%;}
#participant-name i {color:white;font-size:40%;}
.timer-container{position:fixed;width:25%;height:6%;margin:0 0 0 71.6%;}
#participant-timer p {float:right;font-size:150%;margin-top:5%;margin-bottom:1%;color:white;}
#participant-timer i {float:right;font-style:normal;color:white;margin-top:4%;}

.logo-container{position: fixed;width:25%;height:6%;margin:0.5% 0 0 37%;}

.media-info-container{position: fixed;width:50%;height:6%;margin:5.5% 0 0 25%;}
.media-info-container p{font-size:20%;color:white;text-align:center;line-height:50%;}
.media-info-container p span{font-size:125%;font-weight:bold;}

/* LIST LATEST PARTIES*/
#freshPartiesOverlay { overflow: auto; font-style:normal; color:#fff; font-size:150%; }

/*FULLSCREEN*/
.fullscreen {position:fixed;}

/*TEXT SHADOW*/
p, i, a {text-shadow:0px 0px 6px #060606;}

@font-face { font-family: 'ITCAvantGardeGothicStdBkCn'; src: url('../fonts/itcavantgardestd-bkcn-webfont.eot'); src: url('../fonts/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/itcavantgardestd-bkcn-webfont.woff') format('woff'), url('../fonts/itcavantgardestd-bkcn-webfont.ttf') format('truetype'), url('../fonts/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ITCAvantGardeGothicStdBdCn'; src: url('../fonts/itcavantgardestd-boldcn-webfont.eot'); src: url('../fonts/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/itcavantgardestd-boldcn-webfont.woff') format('woff'), url('../fonts/itcavantgardestd-boldcn-webfont.ttf') format('truetype'), url('../fonts/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg'); font-weight: normal; font-style: normal; }
body,.plugin p { font-family: 'ITCAvantGardeGothicStdBkCn'; }
strong,.fat p,#participant-name p { font-family: 'ITCAvantGardeGothicStdBdCn'; }

/*IFRAME*/
iframe#youtube {top:0;border:0;position:fixed;visibility:hidden;width:100%;z-index:-1000;}

/*BOOMSTICK*/
#boomstickInstallPrompt {background-color:#ff6a00;color:#fff;display: block;left: 0px;padding:1em;position:absolute;text-decoration:none;top:43%;width:100%;z-index:2000;}
#boomstickInstallPrompt a{color:#fff;font-size:120%;}
#closeBoomstickPrompt {float:right;margin-right: 3%;}

/*BUTTONS*/
.btn-play,.btn-pause,.btn-skip {
  position:fixed;
  width:50px; height:50px;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding:20px;
}
.btn-play span, .btn-pause span, .btn-skip span {
    display:block;
    color:#eee;
    margin-left:5px;
    margin-top:10px;
}

.btn-play:hover,.btn-pause:hover,.btn-skip:hover{cursor:pointer}
.btn-pause,.btn-play{top:0;right:91px;}
.btn-skip{top:0px;right:0px;}