/* THE PARTYMACHINE DEFAULT THEME*/
html{background-color:#3573de;margin:0;}
body{width:100%;font:100% Verdana, Arial, Helvetica, sans-serif;text-align:center;margin:0;padding:0;text-align:center;color:#111;}
#logo{background-image:url(img/PM-logo.png);width:913px;height:316px;margin:0 auto;}

/*FADE IN*/
#logo, .participant, .plugin-frame, .music-info{opacity:0.0;}

/*PARTICIPANTS*/
.participant{background-image:url(img/contenderframe.png);width:157px;height:188px;margin:-180px auto;}
.participant strong{font-size:20px;position:relative;top:5px;font-weight:normal;}
.participant img{width:127px;height:102px;margin-top:10px;}

/*PLUGINS*/
.plugin-frame{width:640px;height:305px;margin:0 auto;margin-top:180px;margin-bottom:50px;}
.plugin{background-image:url(img/pluginframe.png);width:128px;height:128px;float:left;margin:0 15px 30px 15px;}
.plugin img{margin-top:20px;width:108px;height:108px;position:relative;margin-top:10px;}
.plugin p{color:white;margin-top:15px;}
.plugin-selected{background-image:url(img/pluginselect.png);width:128px;height:128px;position:relative;}
.plugin-selected p{color:#c9ff33;}
.plugin-glare{background-image:url(img/lobbyGfx-pluginglare.png);width:120px;height:32px;float:left;margin:-118px 0 0 3px;}
/*TODO: switch to css generated border*/
/*.plugin-selected img{width:228px:height:228px;border:3px solid #c9ff33;border-radius:3px;}*/

/*MUSIC*/
.track-info{font-size:30px;color:#c9ff33;}
.track-info .title{font-weight:bold;}
.track-submitted-by{font-size:15px;}