/* THE PARTYMACHINE DEFAULT THEME*/
html{background-color:#3573de;margin:0;}
body{width:100%;text-align:center;margin:0;padding:0;text-align:center;color:#111;}
body{font-family: 'ITCAvantGardeGothicStdBkCn';}
strong{font-family: 'ITCAvantGardeGothicStdBdCn';}

/*LOGO*/
#logo{background-image:url(img/PM-logo.png);width:913px;height:316px;margin:0 auto;}

/*FADE IN*/
#logo, .participant, .plugin-frame, .music-info{opacity:0.0;}

/*PARTICIPANTS*/
.participant{background-image:url(img/contenderframe.png);width:157px;height:188px;margin:-180px auto;}
.participant strong{font-size:20px;position:relative;top:4px;}
.participant img{width:127px;height:102px;margin-top:10px;}

/*PLUGINS*/
.plugin-frame{width:640px;height:305px;margin:0 auto;margin-top:180px;margin-bottom:50px;}
.plugin{background-image:url(img/pluginframe.png);width:128px;height:128px;float:left;margin:0 15px 40px 15px;}
.plugin img{margin-top:20px;width:108px;height:108px;position:relative;margin-top:10px;}
.plugin p{color:white;margin-top:15px;font-size:20px;}
.plugin-selected{background-image:url(img/pluginselect.png);width:128px;height:128px;position:relative;}
.plugin-selected p{color:#c9ff33;}
/*.plugin-glare{background-image:url(img/lobbyGfx-pluginglare.png);width:120px;height:32px;float:left;margin:-118px 0 0 3px;}*/
/*TODO: switch to css generated border*/
/*.plugin-selected img{width:228px:height:228px;border:3px solid #c9ff33;border-radius:3px;}*/

/*MUSIC*/
.track-info{font-size:25px;color:#c9ff33;}
.track-info .title{font-weight:bold;}
.track-submitted-by{font-size:15px;}
#soundmanager-debug {
 /* SM2 debug container (optional, makes debug more useable) */
 position:absolute;position:fixed;*position:absolute;bottom:10px;right:10px;width:50em;height:18em;overflow:auto;background:#fff;margin:1em;padding:1em;border:1px solid #999;font-family:"lucida console",verdana,tahoma,"sans serif";font-size:x-small;line-height:1.5em;opacity:0.9;filter:alpha(opacity=90);}

/*FONTS*/
@font-face {
    font-family: 'ITCAvantGardeGothicStdBkCn';
    src: url('fonts/itcavantgardestd-bkcn-webfont.eot');
    src: url('fonts/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardestd-bkcn-webfont.woff') format('woff'),
         url('fonts/itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBdCn';
    src: url('fonts/itcavantgardestd-boldcn-webfont.eot');
    src: url('fonts/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardestd-boldcn-webfont.woff') format('woff'),
         url('fonts/itcavantgardestd-boldcn-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*SETTINGS*/
#settings{display:none;position:fixed;top:310px;height:350px;width:100%;background-color:#002C46;opacity:0.9;z-index:100000;}
/*.btn-settings{position:absolute;top:10px;left:10px;display:block;cursor:pointer;}*/
#settings h2{color:#fff;}
.settings-menu{margin: 0 auto;margin-top:90px;width:900px;}
ul{list-style-type:none;color:#c9ff33;font-size:50px;}
li {float:left;margin-right:25px;margin-left:25px;}