/*===============================
=           BACKGROUND          =
================================*/
html{background:#000;margin:0;height:100%;
background: #090909;
background: -moz-linear-gradient(top,  #090909 0%, #000000 0%, #2b2727 30%, #3e3e3c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#090909), color-stop(0%,#000000), color-stop(30%,#2b2727), color-stop(100%,#3e3e3c));
background: -webkit-linear-gradient(top,  #090909 0%,#000000 0%,#2b2727 30%,#3e3e3c 100%);
background: -o-linear-gradient(top,  #090909 0%,#000000 0%,#2b2727 30%,#3e3e3c 100%);
background: -ms-linear-gradient(top,  #090909 0%,#000000 0%,#2b2727 30%,#3e3e3c 100%);
background: linear-gradient(top,  #090909 0%,#000000 0%,#2b2727 30%,#3e3e3c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090909', endColorstr='#3e3e3c',GradientType=0 );
}
body{height:100%;text-align:center;margin:0;padding:0;font-family: 'ITCAvantGardeGothicStdBkCn';}
.background-video{width:100%;height:133.5%;position:fixed;margin:0 auto;z-index:-1000;}
strong{font-family: 'ITCAvantGardeGothicStdBdCn';}
p{font-family: 'ITCAvantGardeGothicStdBdCn';}
.header{width:100%;}
.clear{clear:both;}
#logo{background:url(img/logo.png) no-repeat;background-size:100% auto;width:30%;height:13%;position:fixed;top:4%;left:5%;}
/*===============================
=              FONTS            =
================================*/
@font-face {
    font-family: 'ITCAvantGardeGothicStdBkCn';
    src: url('../../fonts/itcavantgardestd-bkcn-webfont.eot');
    src: url('../../fonts/itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/itcavantgardestd-bkcn-webfont.woff') format('woff'),
         url('../../fonts/itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
         url('../../fonts/itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBdCn';
    src: url('../../fonts/itcavantgardestd-boldcn-webfont.eot');
    src: url('../../fonts/itcavantgardestd-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/itcavantgardestd-boldcn-webfont.woff') format('woff'),
         url('../../fonts/itcavantgardestd-boldcn-webfont.ttf') format('truetype'),
         url('../../fonts/itcavantgardestd-boldcn-webfont.svg#ITCAvantGardeGothicStdBdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*===============================
=             SIDEBAR           =
================================*/
.sidebar-container{float:right;height:99.9%;width:20%;border-left:5px solid #313131;
background: #232322;
background: -moz-linear-gradient(left,  #232322 1%, #000000 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#232322), color-stop(100%,#000000));
background: -webkit-linear-gradient(left,  #232322 1%,#000000 100%);
background: -o-linear-gradient(left,  #232322 1%,#000000 100%);
background: -ms-linear-gradient(left,  #232322 1%,#000000 100%);
background: linear-gradient(left,  #232322 1%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232322', endColorstr='#000000',GradientType=1 );

-moz-box-shadow: -5px 5px 15px #000;
-webkit-box-shadow: -5px 5px 15px #000;
box-shadow: -5px 5px 15px #111;
}
/*===============================
=             FADE IN           =
================================*/
#logo, .participant, .plugin-frame, .music-info{opacity:0.0;}
/*===============================
=           PARTICIPANT         =
================================*/
.participant-container{margin:0 auto;width:12%;float:right;margin-right:4%;}
.participant{background:url(../../img/contenderframe.png) no-repeat;background-size:100% auto;width:12%;position:fixed;top:11%;}
.participant p{margin-top:5%;}
.participant img{background-size:100% auto;width:69%;position:relative;margin-top:-6%;margin-left:3%;}
p.participant-info{font-size:150%;margin-top:-20%;color:#fff;font-family:'ITCAvantGardeGothicStdBkCn';}
/*===============================
=             PLUGINS           =
================================*/
.plugin-container{width:70%;position:fixed;padding:0.2% 0 0.3% 0.3%;top:18%;left:5%;background-color:#333;-moz-box-shadow: 5px 5px 9px #111;-webkit-box-shadow: 5px 5px 9px #111;box-shadow: 5px 5px 9px #111;}
.plugin{background-color:#eb2287;height:62%;width:23%;float:left;margin:1% 1% 1% 1%;-moz-box-shadow: 5px 5px 9px #111;-webkit-box-shadow: 5px 5px 9px #111;box-shadow: 5px 5px 9px #111;}
.plugin p{font-size:20%;font-family:'ITCAvantGardeGothicStdBkCn';display:block;color:#fff;margin-top:30%;margin-bottom:3%;}
.plugin-selected p{color:#c9ff33;}
.plugin-selected.plugin{background-color:#f89300;}
.plugin img{background-size:100%;width:84%;height:34%;float:left;margin:7% 0 0 8.6%;/*background-color:#7fb538;*/}
/*===============================
=            SETTINGS           =
================================*/
#settings{display:none;position:fixed;top:20%;height:60%;width:100%;opacity:0.9;z-index:100;background-color:#000;}
#settings h2{font-size:30%;color:#fff;}
#settings ul{list-style:none;margin:0 auto;width:800px;margin-top:40px;}
#settings li{float:left;margin:0 10px 0 50px;font-size:20%;color:#fff;}
#settings p{}
#settings li img{width:108px;height:108px;margin-top:10px;}
.setting-selected{border:2px solid #c9ff33;width:128px;height:128px;position:relative;border-radius:3px;margin-top:-20px;}
/*===============================
=          INSTRUCTIONS         =
================================*/
.instructions{position:fixed;text-align:right;right:4%;bottom:5%;list-style:none;color:white;font-size:30%;}
/*===============================
=           THEMES		        =
================================*/
.themes p{color:#fff;cursor:pointer;position:relative;left:5%;font-family:'ITCAvantGardeGothicStdBkCn';}
.fat p{font-family: 'ITCAvantGardeGothicStdBdCn';}
/*===============================
=           PARTYPLAYER         =
================================*/
.party-player-container{width:80%;bottom:-100%;position:fixed;visibility:hidden;}
.party-player{margin:0 auto;width:80%;}
.playlist{padding-right:7%;}
#sm2movie{height:1px;}
#sm2-container{height:1px;}
.created-by{font-size:14px;margin-top:-3px;color:#c9ff33;}
.next-song{font-size:14px;margin-top:2px;color:white;}
.current-media-title{position:fixed;color:#fff;font-size:25%;margin-bottom:-1%;margin-top:3%;}

ul.playlist li.sm2_playing,ul.playlist li.sm2_playing:hover{background-color:#111;-moz-box-shadow: 5px 5px 9px #111;-webkit-box-shadow: 5px 5px 9px #111;box-shadow: 5px 5px 9px #111;}
ul.playlist.use-peak li .peak,ul.playlist li .timing{ background-color:#111;}
ul.playlist li.sm2_paused{background-color:red;opacity:0.7;}
ul.playlist li.sm2_paused .timing,ul.playlist.use-peak li.sm2_paused .peak{background-color:red; border-color:#ccc;}
ul.playlist li .controls .statusbar .loading{background-color:#eee}
ul.playlist li .peak .l,ul.playlist li .peak .r{background:#fff;border:1px solid #fff;}
ul.playlist li.sm2_playing,ul.playlist li.sm2_paused,ul.playlist li.sm2_playing a{color:#c9ff33;}
/*===============================
=   PAGE PLAYER (DO NOT TOUCH)  =
================================*/
#soundmanager-debug {
 /* SM2 debug container (optional, makes debug more useable) */
 position:absolute;position:fixed;*position:absolute;bottom:10px;right:10px;width:50em;height:18em;overflow:auto;background:#fff;margin:1em;padding:1em;border:1px solid #999;font-family:"lucida console",verdana,tahoma,"sans serif";font-size:x-small;line-height:1.5em;opacity:0.9;filter:alpha(opacity=90);}

ul.playlist li{text-align:left;position:relative;display:block;font-size:16px;color:#666;padding:10px;border:none;/*letter-spacing:-1px;*/background-color:#69c;-webkit-transition-property:hover;-webkit-transition:background-color 0.15s ease-in-out;-moz-transition:background-color 0.15s linear 0s;/* firefox 4 */-o-transition-property:background-color;/* opera 10.5 */-o-transition-duration:0.15s}

ul.playlist li a{display:block;text-decoration:none;font-weight:normal;color:#000;font-size:120%;outline:none;position:relative;z-index:2;font-family:'ITCAvantGardeGothicStdBkCn';}
ul.playlist li.sm2_playing,ul.playlist li.sm2_paused,ul.playlist li.sm2_playing a{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}
ul.playlist li:hover{background-color:#555}
ul.playlist li:hover a{color:#333}
ul.playlist li.sm2_playing:hover a,ul.playlist li.sm2_paused a{color:#fff}
ul.playlist li .controls{display:none}
ul.playlist li .peak,ul.playlist.use-peak li .peak{display:none;position:absolute;top:0.55em;right:0.5em}
ul.playlist li.sm2_playing .controls,ul.playlist li.sm2_paused .controls{position:relative;display:block}
ul.playlist.use-peak li.sm2_playing .peak,ul.playlist.use-peak li.sm2_paused .peak{display:inline;display:inline-block}
ul.playlist.use-peak li .peak{display:none;/* IE 7 */}
ul.playlist li.sm2_paused .controls{background-color:#666}
ul.playlist li:hover .controls .statusbar{position:relative;cursor:ew-resize;cursor:-moz-grab;cursor:grab}
ul.playlist li.sm2_paused .controls .statusbar{background-color:#ccc}
ul.playlist li .controls{position:relative;margin-top:0.25em;margin-bottom:0.25em;background-color:#9cf}
ul.playlist li .controls .statusbar{position:relative;height:0.5em;background-color:#cdf;border:2px solid #fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;overflow:hidden;cursor:-moz-grab;cursor:grab}
ul.playlist li .controls.dragging .statusbar{cursor:-moz-grabbing;cursor:grabbing}
ul.playlist li .controls .statusbar .position,ul.playlist li .controls .statusbar .loading,ul.playlist li .controls .statusbar .annotation{position:absolute;left:0px;top:0px;height:0.5em}
ul.playlist li .controls .statusbar .position{background-color:#369;border-right:3px solid #369;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
ul.playlist li.sm2_paused .controls .statusbar .position{background-color:#666;border-color:#666}
ul.playlist li .controls .statusbar .position,ul.playlist li .controls .statusbar .loading{width:0px}
ul.playlist li.sm2_playing a.sm2_link,ul.playlist li.sm2_paused a.sm2_link{margin-right:4.5em;/* room for timing stuff */}
ul.playlist li .timing{position:absolute;display:none;text-align:right;right:1em;top:1em;width:auto;height:1em;padding:3px 5px;border:1px solid #9cf; -moz-border-radius:4px; -khtml-border-radius:4px; border-radius:4px; letter-spacing:0px; font:44% monaco,"VT-100","lucida console",courier,system; line-height:1em; vertical-align:middle}
ul.playlist.use-peak li .timing{right:4.25em}
ul.playlist li:hover .timing{z-index:2}
ul.playlist li .timing div.sm2_timing{margin:0px; padding:0px; margin-top:-1em}
ul.playlist li.sm2_playing .timing,ul.playlist li.sm2_paused .timing{display:block}
ul.playlist li.sm2_paused .timing .sm2_position{text-decoration:blink;/* hee hee. first actual appropriate use?:D */}
ul.playlist.use-peak li .peak{display:none; zoom:1; border:1px solid #9cf; padding:2px; height:0.55em; -moz-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;width:0.8em; height:0.55em; margin-top:-1px;padding-top:3px;}
ul.playlist.use-peak li .peak-box{position:relative; width:100%; height:0.55em; overflow:hidden;}
ul.playlist li .peak .l,ul.playlist li .peak .r{position:absolute; left:-2px; top:0px; width:5px; height:50px;-moz-border-radius:1px; -khtml-border-radius:1px; margin-top:1em;}
ul.playlist li .peak .l{margin-right:1px}
ul.playlist li .peak .r{left:7px;}
#control-template{display:none}
